@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f5faff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  font-size: 80px;
  color: #000000;
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.react-horizontal-scrolling-menu--scroll-container {
  overflow: hidden;
}

.pagination {
  display: flex;
  margin: 60px auto;
  justify-content: center;
  align-items: center;
  list-style: none;
  cursor: pointer;
}

.pagination button {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  font-family: "Arimo";
  border: 1px solid #000000;
  color: #000000;
}

/* .pagination__link {
  font-weight: bold;
}

.pagination__link--active button {
  color: #f5faff;
  background: #000000;
  border: none;
}

.pagination__link--disabled button {
  color: #000000;
  border: 1px solid #000000;
} */

.carousel {
  height: 290px;
}

.control-dots {
  /* margin-top: 1000px !important; */
  bottom: 1px;
}

@media screen and (max-width: 1200px) {
  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }
}

@media screen and (max-width: 640px) {
  body {
    overflow-x: hidden;
  }

  .pagination {
    display: flex;
  }

  .pagination__page_count a {
    display: none;
  }

  .pagination__link a {
    margin-right: 30px;
  }
}
